.blue-background {
    background-color: blue;
    }
    .red-background {
    background-color: red;
    }

    
header{
    border-style:hidden;
    border-color:rgb(252, 246, 245);
    border-radius:30px;
}

body{
    color:rgb(62, 40, 43);
    background-color:rgb(219, 190, 161);
    padding:3px;
    font-family:'Montserrat', sans-serif;
    font-size:15px;
}

.welcome {
    background-color:rgb(219, 190, 161);
    border-style:dotted;
    border-color:rgb(163, 123, 115);
    border-radius:15px;
    text-align:center;
    font-family:fantasy, sans-serif;
    font-size:50px;
    margin-top:20px;
    margin-bottom:30px;
    margin-left:60px;
    margin-right:60px;
    padding-top:30px;
    padding-bottom:25px;
    padding-left:20px;
    padding-right:20px;
}

.Boba1 {
    border-style:double;
    border-color:rgb(252, 246, 245);
    border-radius:8px;
    max-width:100%;
    height:auto;
    display:block;
    width:50%;
    margin-right: auto;
    margin-left: auto;
    margin-top:15px;
    margin-bottom:50px;
}

.photo1 {
    border-style:double;
    border-color:rgb(252, 246, 245);
    border-radius:8px;
    max-width:100%;
    height:auto;
    display:block;
    width:30%;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:50px;
}

.box1 {
    border-style:double;
    border-color:rgb(252, 246, 245);
    border-radius:25px;
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    margin-top:30px;
    margin-bottom:15px;    
    margin-left:100px;
    margin-right:100px;
    padding: 20px;
}

.box2 {
    margin:13px;
    font-family:'Montserrat', sans-serif;
    font-size:14px;
    margin-top:0px;
    margin-bottom:70px;
    margin-top:0px;
    margin-bottom:40px;
    margin-left:150px;
    margin-right:120px;
    padding-top:15px;
    padding-bottom:10px;
    padding-right:150px;
    padding-left:50px;
}

.box3 {
    border-style:dotted groove;
    border-color:rgb(163, 123, 115);    
    border-radius:25px;
    padding:3px;
    margin:13px;
    font-family:'Montserrat', sans-serif;
    font-size: 25px;
    margin-top:30px;
    margin-bottom:5px;
    margin-left:140px;
    margin-right:140px;
    padding:10px;
}

h2{
    text-align:center;
    border-style:double;
    border-color:rgb(252, 246, 245);
    border-radius:25px;
    padding:10px;
    margin:15px;
    font-size:30px;
}

h3{
    text-align:left;
    border-style:double;
    border-color:rgb(252, 246, 245);
    border-radius:25px;
    padding:10px;
    margin:15px;
    font-size:20px;
    margin-top:0px;
    margin-bottom:10px;
}

.list {
    list-style:square;
    margin-top:0px;
    margin-bottom:30px;
    margin-left:180px;
    margin-right:90;
    padding:15px 150px 10px 50px;
}

ul li {
    float:left;
    display:inline;
    padding:8px;
    background-color:rgb(219, 182, 146);
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    list-style-type:none;
    overflow: hidden;
    margin-top:20px;
    margin-bottom:50px;
    margin-left:10px;
    margin-right:10px;    
}

.video1{
        padding:3px;
        margin:13px;
        font-family:'Montserrat', sans-serif;
        font-size: 25px;
        margin-top:30px;
        margin-bottom:5px;
        margin-left:140px;
        margin-right:140px;
        padding:10px;
}

#list1 {
    color:white;
}

a{
    text-decoration:none;
    color:rgb(62, 40, 43);
    font-style:italic;
}

a:hover{
    color:rgb(252, 246, 245);
}

a:visited{
    color:palevioletred;
}

a:active{
    color:sienna;
}

nav {
    font-family:'Montserrat', sans-serif;
    font-style:oblique;
    color:rgb(219, 190, 161)
}


input{
    border-style:dotted groove;
    border-color:rgb(163, 123, 115);    
    border-radius:25px;
    padding:3px;
    margin:10px;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    margin-top:10px;
    margin-bottom:5px;
    margin-left:20px;
    margin-right:20px;
    padding:0px;
}

label{ 
    color:rgb(80, 70, 83);
}

.button1{
    background-color: transparent;
}

@media (min-width: 1024px) {
    body {
        background-color:darksalmon;
        color:hotpink;
        font-size:10px;
    }

.box1{ 
    border: 20px solid white;
}

.welcome {
    background-color:darksalmon;
    border-color:white;
}

}
